/* mini reset */
body {
  background: #fafafa;
  margin: 0;
}
body,h1,h2,p,a,input {
  color: #555;
  font-family: Consolas, Arial;
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
}

/* header styles */
header {
  background: white;
  box-shadow: 0px 0px 6px rgba(0,0,0,0.1);
  box-sizing: border-box;
  padding: 20px;
  text-align: right;
  width: 100%;
}
header a {
  border-bottom: 2px solid #ffe100;
  cursor: pointer;
  margin-left: 10px;
  padding: 4px;
}
header a:hover {
  background: #ffe100;
  color: black;
}

/* content styles */
.content {
  margin: 40px auto 0;
  max-width: 800px;
}

/* request list styles */
.request-list li {
  background: white;
  border-radius: 10px;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.1);
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 10px auto;
  padding: 20px;
}
.request-list .votes {
  position: relative;
  top: -5px;
  z-index: 0;
}
.request-list .upvote {
  border-radius: 50%;
  cursor: pointer;
}
.request-list .upvote:active {
  background: #ffe100;
  color: black;
}

/* modal styles */
.modal {
  background: white;
  border-radius: 10px;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
  margin: 100px auto;
  padding: 30px;
  text-align: center;
  width: 300px;
}
.new-request {
  background: rgba(0,0,0,0.4);
  display: none;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.new-request.open {
  display: block;
}

/* form element styles */
input {
  border-width: 0 0 2px 0;
  display: block;
  margin: 8px 0;
  padding: 8px 2px;
  width: 100%;
}
button {
  background: #ffe100;
  border: 0;
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
  margin-top: 10px;
  padding: 8px 12px;
}

/* auth styles */
.auth {
  background: #fafafa;
  display: none;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.auth.open {
  display: block;
}
.auth a {
  cursor: pointer;
  text-decoration: underline;
}
.auth .modal {
  display: none;
}
.auth .modal.active {
  display: block;
}
